<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Blog <% if(blog && blog.length > 0) { %>
    <ul>
      <% blog.forEach((blog) => { %>
      <li><%= blog.title %></li>
      <% }) %>
    </ul>
    \ <% } else { %>
    <p>No blog found</p>
    <% } %>
  </body>
</html>
